 .wrapper_example {
   background-color: #444ce0;
 }

/* #main {
   // недоступно на бэкенде, картинки должны вставляться через html
   // нужно использовать <img>, в крайнем случаем инлайн <div style="background-image:...">
   background-image: url('/assets/img/dogsad.jpg');
   width: 100%;
 }*/